@media print {
 * {
    visibility: hidden;
  }
  app-printable-table, app-printable-table * {
    visibility: visible;
  }

}

app-printable-table{
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
