<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row ">
    <div class="col-12 py-4">
      <h1>Printing Table</h1>
      <div class="container-fluid">
        <div class="text-end">
          <button type="button" (click)="printTableNewInPage()" class="btn btn-secondary m-3">Print in new page</button>
          <button type="button" (click)="printTable()" class="btn btn-primary m-3">Print</button>
        </div>
        <ng-container [ngTemplateOutlet]="printTableTemplate"></ng-container>
      </div>
    </div>
  </div>
</div>

<app-printable-table>
  <ng-container [ngTemplateOutlet]="printTableTemplate"></ng-container>
</app-printable-table>

<ng-template #printTableTemplate>
  <div class="row" class="table-container breakpage">
    <div class="col-12">
      <div class="card m-3" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
        <div class="card-body">
          <div class="card-title">My Card {{i}}</div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae soluta iusto magni molestiae possimus
            voluptates veniam nostrum, illum temporibus voluptatum minus dignissimos odio amet pariatur alias
            sequi officia harum eius.
            <div class="table-{{i}}">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>




<!-- <app-test-ng-print></app-test-ng-print> -->
